<div class="header">
    <div class="menu">
        <div>
            <img src="./assets/img/logo_white.png" alt="">
        </div>
        <div>
            <a href="">HOME</a>
            <a href="">ABOUT</a>
            <a href="">PORTFOLIO</a>
        </div>
    </div>
    <div class="description">
        <div>
            <h1>Hi, <br> I`m Marco Beer <br> Front End developer </h1>
            <button>Contact me</button>
        </div>
        <div>
            <img src="./assets/img/marco_beer.jpg" alt="">
        </div>
    </div>

</div>