.header {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
}

.header-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/img/backgrounds/laptop-background.jpg');
    animation: zoomInAndOut 12s ease-in infinite;
    animation-direction: alternate;
}

@keyframes zoomInAndOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.navbar {
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        cursor: pointer;
        width: 60px;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        color: white;
        padding-right: 30px;
        font-weight: 700;
        font-size: 18px;
        &:hover {
            color: #fa2759;
            transform: scale(1.1);
            transition: 225ms ease-in-out;
            background-position: 0 100%;
            cursor: pointer;
        }
    }
}

.description {
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        font-size: 64px;
        color: white;
    }
    img {
        align-items: center;
        width: 350px;
        border-radius: 100%;
    }
    button {
        margin-top: 50px;
        cursor: pointer;
        background-color: black;
        color: #2DFCD8;
        width: 320px;
        height: 80px;
        font-size: 20px;
        border-style: solid;
        border-color: #2DFCD8;
        border-width: 5px;
        &:hover {
            background-color: #2DFCD8;
            color: white;
            transform: scale(1.1);
            transition: 225ms ease-in-out;
            background-position: 0 100%;
            cursor: pointer;
        }
    }
}