<div class="header">
    <div class="header-background"></div>
    <div class="mobile-navbar">
        <img routerLink="/" src="./assets/img/logo_white.png" alt="">
        <img id="mobMenu" (click)="mobileMenu = true" class="menu-burger" src="./assets/img/menu-4-64.png" alt="">
        <div *ngIf="mobileMenu" class="mobile-links">
            <a routerLink="/">HOME</a>
            <a href="#skills">SKILLS</a>
            <a href="#work">PORTFOLIO</a>
            <a href="#about">ABOUT</a>
            <a href="#contact">CONTACT</a>
        </div>
    </div>
    <div class="description">
        <div>
            <h1>Hi,
                <br> I`m <span style="color: #fa2759;">Marco</span> Beer <br> Front End developer
            </h1>
            <a href="#contact"><button>Contact me</button></a>
        </div>
        <div>
            <img src="./assets/img/marco_beer.jpg " alt=" ">
        </div>
    </div>

</div>