.navbar {
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        cursor: pointer;
        width: 60px;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        color: white;
        padding-right: 30px;
        font-weight: 700;
        font-size: 18px;
        &:hover {
            color: #fa2759;
            transform: scale(1.1);
            transition: 225ms ease-in-out;
            background-position: 0 100%;
            cursor: pointer;
        }
    }
}