.my-work-box {
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        color: white;
        font-size: 36px;
    }
    button {
        cursor: pointer;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        width: 250px;
        height: 80px;
        color: white;
        background-color: black;
        border-radius: 8px;
        border-color: #fa2759;
        border-width: 3px;
        font-size: 18px;
        &:hover {
            background-color: #fa2759;
        }
        &:focus {
            background-color: #fa2759;
        }
    }
}

.my-works {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
    div {
        width: 530px;
        height: 300px;
        margin: 20px;
    }
}

.elpolloloco {
    position: relative;
    background-image: url('/assets/img/projects/elpolloloco-pc.png');
    background-repeat: none;
    background-size: cover;
}

.elpolloloco:hover .show-work {
    display: flex;
}

.join {
    position: relative;
    background-image: url('/assets/img/projects/Join-pc.jpg');
    background-repeat: none;
    background-size: cover;
}

.join:hover .show-work {
    display: flex;
}

.quiz {
    position: relative;
    background-image: url('/assets/img/projects/quizapp-pc.png');
    background-repeat: none;
    background-size: cover;
}

.quiz:hover .show-work {
    display: flex;
}

.beerando {
    position: relative;
    background-image: url('/assets/img/projects/beerando-pc.png');
    background-repeat: none;
    background-size: contain;
}

.beerando:hover .show-work {
    display: flex;
}

.show-work {
    display: none;
    position: relative;
    background-color: rgba(255, 255, 255, 0.733);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px!important;
    h5 {
        color: #fa2759;
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    button {
        background-color: white;
        color: #fa2759;
        margin-top: 10px;
        border-radius: 0px;
        border-width: 1.5px;
        width: 150px;
        height: 60px;
        &:hover {
            color: white;
        }
    }
}