.my-work-box {
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    h2 {
        color: white;
        font-size: 36px;
    }
    button {
        cursor: pointer;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        width: 250px;
        height: 80px;
        color: white;
        background-color: black;
        border-radius: 8px;
        border-color: #fa2759;
        border-width: 3px;
        font-size: 18px;
        &:hover {
            background-color: #fa2759;
        }
        &:focus {
            background-color: #fa2759;
        }
    }
}

.my-works {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
    div {
        width: 530px;
        height: 300px;
        margin: 20px;
    }
}

.elpolloloco {
    position: relative;
    background-image: url('../../assets/img/projects/elpolloloco-pc.png');
    background-repeat: none;
    background-size: cover;
}

.elpolloloco:hover .show-work {
    display: flex;
}

.join {
    position: relative;
    background-image: url('../../assets/img/projects/Join-pc.jpg');
    background-repeat: none;
    background-size: cover;
}

.join:hover .show-work {
    display: flex;
}

.quiz {
    position: relative;
    background-image: url('../../assets/img/projects/quizapp-pc.png');
    background-repeat: none;
    background-size: cover;
}

.quiz:hover .show-work {
    display: flex;
}

.beerando {
    position: relative;
    background-image: url('../../assets/img/projects/beerando-pc.png');
    background-repeat: none;
    background-size: contain;
}

.beerando:hover .show-work {
    display: flex;
}

.pokedex {
    position: relative;
    background-image: url('../../assets/img/projects/pokedex-pc.png');
    background-repeat: none;
    background-size: contain;
}

.pokedex:hover .show-work {
    display: flex;
}

.portfolio {
    position: relative;
    background-image: url('../../assets/img/projects/portfolio-pc.png');
    background-repeat: none;
    background-size: cover;
}

.portfolio:hover .show-work {
    display: flex;
}

.show-work {
    display: none;
    position: relative;
    background-color: rgba(255, 255, 255, 0.733);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px!important;
    h5 {
        color: #fa2759;
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    button {
        background-color: white;
        color: #fa2759;
        margin-top: 10px;
        border-radius: 0px;
        border-width: 1.5px;
        width: 150px;
        height: 60px;
        &:hover {
            color: white;
        }
    }
}

@media only screen and (max-width: 500px) {
    .my-work-box {
        background-color: #1A1A1A;
        align-items: center;
        padding-bottom: 20px;
        button {
            cursor: pointer;
            margin-bottom: 0px;
            margin-left: 5px;
            margin-right: 5px;
            width: 100px;
            height: 45px;
            background-color: #1A1A1A;
            font-size: 15px;
        }
    }
    .my-works {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        margin: 0px;
        width: 100%;
        flex-wrap: wrap;
        div {
            width: 100%;
            height: 180px;
            margin: 20px;
        }
    }
    .show-work {
        display: none;
        position: relative;
        text-align: center;
        h5 {
            color: #fa2759;
            font-size: 18px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        p {
            font-size: 18px;
        }
        button {
            background-color: white;
            margin-top: 0px;
            width: 130px;
            height: 50px;
            &:hover {
                color: white;
            }
        }
    }
}