<div class="my-work-box">
    <h2>My Work</h2>
    <div>
        <button>All</button>
        <button>Angular</button>
        <button>Javascript</button>
    </div>

    <div class="my-works">
        <div class="elpolloloco">
            <div class="show-work">
                <h5>El Pollo Loco</h5>
                <p>JavaScript - based jump and run game.</p>
                <button>Try out</button>
            </div>
        </div>
        <div class="join">
            <div class="show-work">
                <h5>Join</h5>
                <p>JavaScript - based canban board.</p>
                <button>Try out</button>
            </div>
        </div>
        <div class="quiz">
            <div class="show-work">
                <h5>Quiz App</h5>
                <p>JavaScript - based quiz.</p>
                <button>Try out</button>
            </div>
        </div>
        <div class="beerando">
            <div class="show-work">
                <h5>Beerando</h5>
                <p>Food delivery site - based on Lieferando.</p>
                <button>Try out</button>
            </div>
        </div>
    </div>
</div>