.skills-section {
    overflow: hidden;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: white;
        font-size: 36px;
    }
}

.skills-boxes {
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        position: relative;
        margin-top: 60px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 28%;
        height: 150px;
        margin: 20px;
        border-radius: 8px;
        font-size: 18px;
    }
}

.skills-img-box {
    position: absolute !important;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    top: -30px;
    width: 65px;
    height: 65px;
    box-shadow: #000 0 2px 11px -4px;
    img {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 1270px) {
    .skills-section {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
    }
    .skills-boxes {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 850px) {
    .skills-boxes {
        div {
            margin-top: 60px !important;
            display: flex;
            width: 28%;
            height: 100px;
            margin: 5px;
            font-size: 15px;
            text-align: center;
        }
    }
    .skills-img-box {
        width: 40px;
        height: 40px;
        top: -20px;
        img {
            width: 25px;
            height: 25px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .skills-section {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        h2 {
            margin-bottom: 0px;
        }
    }
    .skills-boxes {
        padding: 0px;
        flex-wrap: wrap;
        div {
            position: relative;
            margin-top: 60px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 30%;
            height: 100px;
            margin: 5px;
            font-size: 15px;
            text-align: center;
        }
    }
    .skills-img-box {
        width: 40px;
        height: 40px;
        top: -20px;
        img {
            width: 25px;
            height: 25px;
        }
    }
}