<div class="contact-box">
    <div>
        <div>
            <h1>Contact me.</h1>
        </div>
        <div>
            <p>Get in touch via the form below, or by emailing marco.beer93@web.de</p>
        </div>

        <div>
            <p>Name</p>
            <input placeholder="Enter your name" type="name">
        </div>

        <div>
            <p>Email address</p>
            <input placeholder="Enter your Email address" type="email">
        </div>

        <div>
            <p>Message</p>
            <input placeholder="Enter your message" type="text">
        </div>
    </div>
</div>