<div id="contactBox" class="contact-box">
    <div>
        <div>
            <h1>Contact me.</h1>
        </div>
        <div>
            <p>Get in touch via the form below, or by emailing marco.beer93@web.de</p>
        </div>

        <div>
            <p>Name</p>
            <input placeholder="Enter your name" type="name">
        </div>

        <div>
            <p>Email address</p>
            <input placeholder="Enter your Email address" type="email">
        </div>

        <div>
            <p>Message</p>
            <input placeholder="Enter your message" type="text">
        </div>

        <button (click)="showSubmitFeedback = true">Send</button>
    </div>

    <div *ngIf="showSubmitFeedback" id="submitFeedback" class="submit-feedback">
        <img (click)="showSubmitFeedback = false " src="/assets/img/x_white.png" alt="">
        <h1>Nachricht wurde gesendet</h1>
        <h3>Vielen Dank !</h3>

    </div>
</div>