<div class="about-me-box">
    <div class="about-me">
        <div data-aos="fade-left" data-aos-duration="1000">
            <img src="./assets/img/marco_beer.jpg" alt="">
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" class="about-description">
            <h2>About me.</h2>
            <p>*I'm a front end developer and musician who always can't wait to start the next project. <br><em>Do what you love and you'll never have to work again.</em>*</p>
        </div>

    </div>
    <div data-aos="fade-right" data-aos-duration="1000" class="space-div"></div>
    <div class="about-me-icons-box">
        <div data-aos="fade-right" data-aos-duration="1000" class="about-me-content">
            <div class="icon-box">
                <img src="/assets/img/walk-line.png" alt="">
            </div>
            <div>
                <h3>I STARTED</h3>
            </div>
            <div>
                <p>in the commercial area. I learned an incredible amount here and don't regret a second. However, an inner voice kept telling me that this wasn't 100% right for me. That's how I came to programming after a long and intensive search. I finally
                    feel at home here.</p>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="1000" class="about-me-content">
            <div class="icon-box">
                <img src="/assets/img/search-line.png" alt="">
            </div>
            <div>
                <h3>MY SEARCH</h3>
            </div>
            <div>
                <p>it is to develop myself quickly in order to expand my skills. This not only applies to programming, but also to my personality.</p>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="1000" class="about-me-content">
            <div class="icon-box">
                <img src="/assets/img/heart-line.png" alt="">
            </div>
            <div>
                <h3>MY PASSION</h3>
            </div>
            <div>
                <p>was always the music and video games. There came a point when I asked myself how difficult it would be to program a game. This thought didn't let me go and I started programming.</p>
            </div>
        </div>

        <div data-aos="fade-left" data-aos-duration="1000" class="about-me-content">
            <div class="icon-box">
                <img src="/assets/img/flight-takeoff-line.png" alt="">
            </div>
            <div>
                <h3>MY GOAL</h3>
            </div>
            <div>
                <p> has always been to become really good at something in order to make the world a little better. Helping companies and customers with the development of applications to achieve their goals is a huge motivator for me.</p>
            </div>
        </div>
    </div>

</div>